.gradient-pattern {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-45deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(45deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), rgba(53,163,155,0.42);
  background: -moz-linear-gradient(135deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), -moz-linear-gradient(225deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), -moz-linear-gradient(315deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), -moz-linear-gradient(45deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), rgba(53,163,155,0.42);
  background: linear-gradient(135deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), linear-gradient(225deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), linear-gradient(315deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), linear-gradient(45deg, rgb(236,237,220) 25%, rgba(0,0,0,0) 25%), rgba(53,163,155,0.42);
  background-position: -50px 0, -50px 0, 0 0, 0 0;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 100px 100px;
  background-size: 100px 100px;
}

#title {
  background-color: rgba(53, 51, 51, 0.47);
}

.name h1 {
  color: white;
  font-weight: 400;
  font-size: 100px;
  font-family: 'Courgette', cursive;

}

.bday h1 {
  color: white;
  font-family: 'Tangerine', cursive;
  font-size: 100px;
}

#picture .row {
  margin: 10px;
}

.blur { width:367; height:459px; -webkit-filter: blur(3px); filter: blur(3px); }